body {
    margin: 60px auto;
    width: 70%;
}

h1 {
    font-size: 36px;
    font-family:'Bodoni MT', 'Times New Roman', 'Serif';
    color: #000;
    text-align: center;
}

a {

}

#links {
    font-size: 12px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 12px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
