body { 
	font-family: 'DM Sans', 'sans-serif';
	overflow: auto;
}

button {
	height: 40px;
	border-radius: 3px;
	border: none;
	background-color: #e1e1e1;
}

button:hover {
	background-color: white;
	border: 1px solid grey;
	cursor: pointer;
}

#main {
	width:100%;
}

#search {
	z-index: 1;
	background-color: white;
	/*width: 100%;*/
	top: -10px;
	left: -10px;
	padding: 50px 50px 5px 50px;
}

#header {
	width: max-content;
	float: left;
	margin: 0px 25px;
}

#page-num {
	margin-left: 25px;
}

#images-search {
	height: 20px;
	font-size: 14px;
	padding: 10px;
	border-radius: 3px;
	border: 1px gray solid;
}

#colors-search {
	height: 40px;
	font-size: 14px;
	padding: 10px;
	border-radius: 3px;
	border: 1px gray solid;
	margin-left: 10px;
}

#search-button {
	width: 100px;
	margin-left: 10px;
}

#images-grid-container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 30px;
}

#images-grid {
	display: grid;
	grid-template-columns: auto auto auto auto;
}

@media screen and (min-width: 0px) {
	#image-details, #image-detail-header {
		width: 85%;
	}
	#images-grid {
		grid-template-columns: auto;
	}
}

@media screen and (max-width: 800px) {
	#images-search, #colors-search {
		width: 100%;
	}
	#images-search {
		margin: 10px;
	}
	#colors-search {
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 800px) {
	#image-details, #image-detail-header {
		width: 75%;
	}
	#images-grid {
		grid-template-columns: auto auto;
	}
}

@media screen and (min-width: 1200px) {
	#images-grid {
		grid-template-columns: auto auto auto;
	}
}

@media screen and (min-width: 1600px) {
	#images-grid {
		grid-template-columns: auto auto auto auto;
	}
}

.grid-container {
	margin: 30px;
}

.small-image {
	object-fit: cover;
	object-position: center;
	height: 300px;
	width: 300px;
}

.image-container {
	margin: 50px;
	height: 300px;
	width: 300px;
}

.image-wrapper {
	position: absolute;
	color: black;
}

.image-background {
	position: relative;
	height: 100%;
	width: 100%;
	margin-top: 25px;
	margin-left: 25px;
	z-index: -999;
	transition: 0.5s;
}

.image-container:hover {
	cursor: pointer;
}

.image-container:hover > .image-background {
	margin-top: 0px;
	margin-left: 0px;
}

#image-detail-module-container { 
	position: fixed; 
	z-index: 999; 
	left: 0; 
	right: 0; 
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0,0,0,0.4);
	margin-top: -10px;
}


#image-details, #image-detail-header {
	margin: auto;  
	width: 50%;
}

#image-details {
	padding: 20px;
	background-color: #fff; 
	margin-bottom: 20px;
	border-bottom: 10px solid;
	overflow: auto; 
	height: 75vh;
}

#image-detail-header {
	text-align: right;
	margin-top: 75px;
	padding: 5px 20px;
}

#image-details h2 {
	margin-top: 0px;
}

#close-details {
	height: 20px;
}

.normal-image {
	width: 100%;
}

#pagination {
	text-align: center; 
	font-size: 75px;
}

a:hover {
	color: grey;
	cursor: pointer;
}

#footer {
	margin-left: 75px;
}
